.title {
  height: 120px;
  margin: 0;
  position: relative;
  top: 40%;
  font-size: 50px;
  text-align: center;
  font-family: "Gowun Dodum", serif;
}

.btn {
  margin: auto;
  text-align: center;
  display: block;
  font-family: "Gowun Dodum", serif;
  font-size: 13px;
}

body {
  background-image: url("background.jpg");
}

#webcam-container {
  margin: auto;
  text-align: center;
  display: block;
}

#label-container {
  margin: auto;
  text-align: center;
  display: block;
  font-family: "Gowun Dodum", serif;
  font-size: 20px;
}
